server:
  port: 8080

spring:
  application:
    name: shop
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://localhost:3308/shop?serverTimezone=Asia/Seoul
    username: root
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MariaDBDialect

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 100MB

#상품 이미지 업로드 경로 - 파일이 저장되는 경로
itemImgLocation: c:/shop/item

#리소스 업로드 경로 - 이미지 조회용 (브라우저)
uploadPath: file:///c:/shop





