server:
  port: 8080

spring:
  application:
    name: shop

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    driver-class-name: org.h2.Driver
    # DB_CLOSE_DELAY=-1 추가: 애플리케이션 실행 중 DB 유지
    url: jdbc:h2:mem:testdb;
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    # SQL 로그 가독성 향상
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        # H2 최신 버전 호환을 위해 지정
        dialect: org.hibernate.dialect.H2Dialect