<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MemberMapper">
    <select id="findAll" resultType="MemberDTO">
        select member_id, name, age, address, phone
        from member
        order by member_id desc;
    </select>

    <insert id="insert" parameterType="MemberDTO"
        useGeneratedKeys="true" keyProperty="memberId">
        insert into member(name,age,address, phone)
        values(#{name}, #{age}, #{address}, #{phone})
    </insert>

    <select id="findById" resultType="MemberDTO">
        select member_id, name, age, address, phone
        from member
        where member_id = #{memberId}
    </select>

    <update id="update" parameterType="MemberDTO">
        update member
        set name = #{name} , age = #{age},
            address = #{address}, phone = #{phone}
        where member_id = #{memberId}
    </update>

    <delete id="delete">
        delete from member
        where member_id = #{memberId}
    </delete>
</mapper>